body {
  background-image: linear-gradient(rgb(249, 212, 218), rgb(244, 125, 145));
  margin: 0;
  padding: 0;
}

.burger {
  width: 30px;
  height: 20px;
  cursor: pointer;
}

.burger .line {
  width: 100%;
  height: 2px;
  background-color: #a83849;
  margin-bottom: 5px;
  transition: 0.2s linear;
}

.menu {
  display: none;
}
.burger {
  display: block;
}

.burger.active .line:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
  transition: 0.2s linear;
}

.burger.active .line:nth-child(2) {
  opacity: 0;
  transition: 0.15s linear;
}

.burger.active .line:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
  transition: 0.2s linear;
}

nav.active .menu {
  display: block;
  background-color: white;
  position: absolute;
  top: 60px;
  right: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  list-style: none;
}

nav.active .menu li {
  margin: 10px 20px;
}

nav.active .menu a {
  font-size: 24px;
  text-decoration: none;
  color: #a83849;
}

img {
  border-radius: 20px;
}

@media (min-width: 800px) {
  main {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}

main {
  padding: 0 1rem;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  border-bottom: 5px solid white;
  background-image: linear-gradient(rgb(255, 253, 203), rgb(249, 232, 133));
  position: sticky;
  top: 0;
}

header div {
  font-size: 1.5rem;
  font-weight: bold;
  color: black;
}

header p {
  margin: 0;
  font-size: 25px;
  color: #a83849;
}

header nav p {
  font-size: 1rem;
  color: #a83849;
  cursor: pointer;
}

.logo {
  width: 100px;
  height: auto;
}

.logo {
  display: flex;
  align-items: center;
}

footer {
  color: black;
  text-align: center;
}

.hero {
  height: 300px;
}

.grid_1-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.grid_1-1 img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.billede_2,
.billede_3,
.billede_4,
.billede_5 {
  object-fit: cover;
  aspect-ratio: 1 / 1;
}

@media (min-width: 800px) {
  .grid_1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .grid_1-1 img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  .billede_2 {
    grid-column: 1 / span 1;
    grid-row: 1 / span 2;
    height: 100%;
  }
  .billede_3 {
    grid-column: 2 / span 2;
    height: 100%;
    aspect-ratio: 16/6;
  }

  .billede_4 {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
    height: 100%;
  }

  .billede_5 {
    grid-column: 3 / span 1;
    grid-row: 2 / span 1;
    height: 100%;
  }
}

h1 {
  font-family: "Noto Serif", serif;
  color: #a83849;
  font-size: 50px;
  text-align: start;
}

h2 {
  font-family: "Lilita One", sans-serif;
  color: #a83849;
  font-size: 35px;
}

p {
  font-family: "Sour Gummy", sans-serif;
  color: rgb(182, 76, 93);
}

@media (min-width: 800px) {
  .grid_1-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
}

.img-w-txt {
  display: grid;
}

.img-w-txt > * {
  grid-column: 1;
  grid-row: 1;
  width: 100%;
  height: auto;
  font-size: 30px;
  align-self: end;
}

#text-pic {
  color: white;
  margin-left: 20px;
  opacity: 80%;
}

iframe {
  width: 100%;
  height: auto;
  aspect-ratio: 16/9;
}

video {
  width: 100%;
  height: auto;
  display: block;
  aspect-ratio: 16/9;
}

@media (max-width: 800px) {
  .grid_1-2 {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
  }
}
